.sect-howdoes {
    width: 100%;
    padding-bottom: 1100px;
    position: relative;
}

.sect-howdoes .how-does-box {
    position: relative;
    float: right;
    right: 0%;
    /*top: -30%;*/
    margin-top: -400px;
    width: 80%;
    padding-bottom: 1300px;
    background-color: white;
    box-shadow: 0 0 50px #D4D4D4;
    z-index: -1;
}

.sect-howdoes h2 {
    font-family: 'Adobe Caslon Pro';
    text-transform: uppercase;
    position: relative;
    left: 40%;
    margin-top: 250px;
    width: 60%;
    white-space: nowrap;
}

.sect-howdoes .how-step {
    position: absolute;
    width: 35%;
    height: 250px;
    display: inline-flex;
}

.sect-howdoes .how-step img {
    width: 50%;
}

.sect-howdoes .how-step p {
    margin-top: 15%;
    font-family: 'Proxima Nova';
    opacity: 0.5;
}

.sect-howdoes .how-step-1 {
    left: 6.8%;
    top: 100px;
}

.sect-howdoes .how-step-2 {
    left: 30%;
    top: 300px;
}

.sect-howdoes .how-step-3 {
    right: 5%;
    top: 100px;
}

.sect-howdoes .how-step-4 {
    left: 6.8%;
    top: 500px;
}

.sect-howdoes .how-step-5 {
    left: 30%;
    top: 700px;
}

.sect-howdoes .how-step-6 {
    right: 5%;
    top: 500px;
}