<div class="row">
  <div class="col-md-12">
    <h3 style="font-family: Verdana, sans-serif;">My Credit Point</h3>
  </div>
</div>

<div class="row" style="margin-top: 2%;">
  <div class="card-container col-md-12 col-sm-12 col-xs-12">
    <table class="table">
      <thead>
        <th>Image</th>
        <th>Name</th>
        <th>Credit Point</th>
        <th>Debit Point</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="{{respondent?.userInfo?.profile_pic}}" style="width: 80px;height:65px;" onerror="this.src='https://www.w3schools.com/w3css/img_london.jpg';">
          </td>
          <td>
            {{respondent?.userInfo?.first_name}}
            {{respondent?.userInfo?.middle_name}}
            {{respondent?.userInfo?.last_name}}
          </td>
          <td>{{respondent?.credit_point}}</td>
          <td>{{respondent?.debit_point}}</td>
          <td>{{respondent?.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>