<!doctype>
{% load staticfiles %}
<html>
    <head>
        <title>Audience Sutra</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="icon" href="{% static 'img/fav.png' %}"/>
    </head>
    <body>
        <header>
            <div class="left">
                <main>
                    <div class="cent">
                        <div class="wrap-form">
                            <h2>Are you?</h2>
                            <a href="{% url 'set_account_type' %}?user_type=Client"><button id="client-signup-option">Client</button></a><br>
                            <a href="{% url 'set_account_type' %}?user_type=Respondent"><button id="respondent-signup-option">Respondent</button></a>
                            <p>* Choose Client if you want to conduct surveys and analyse results<br><br>
                               * Choose Respondent if you want to take surveys and earn credit points</p>
                        </div>
                    </div>
                </main>
            </div>
            <div class="right">
                <main>
                    <div class="cent">
                        <a href="javascript:void(0);">
                            <img src="{% static 'img/login2.png' %}" alt="Audience Sutra">
                        </a>
                    </div>
                </main>
            </div>
        </header>
    </body>
</html>