<app-respondent-home></app-respondent-home>


<!-- <app-header></app-header>
<app-side-nav [page]="page" [id]="id"></app-side-nav>

<div *ngIf="page == 'home'">
  <app-respondent-home></app-respondent-home>
</div>
<div *ngIf="page == 'profile'">
  <app-respondent-user></app-respondent-user>
</div>
<div *ngIf="page == 'fav'">
  <app-respondent-fav></app-respondent-fav>
</div>
<div *ngIf="page =='stats'">
  <app-respondent-stats></app-respondent-stats>
</div>
<div *ngIf="page == 'help'">
  <app-respondent-help></app-respondent-help>
</div> -->
