{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "AudienceSutra Sign-Up" %}{% endblock %}

{% block extra_head %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup-form.css' %}">
    <link rel="icon" href="{% static 'img/fav.png' %}"/>

    <style>
        .strong {
            background-color: green;
            height: 4px;
        }
        .good {
            background-color: yellow;
            height: 4px;
        }
        .weak {
            background-color: red;
            height: 4px;
        }
        #remember {
            width: 16px;
            height: 16px;
        }
    </style>
{% endblock %}

{% block body %}
    <header>
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="AudienceSutra">
        </a>
        <h1>Create an account</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'account_login' %}">Login Here</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrap-form">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup_client' %}">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div>
                        <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong style="color: red">{{ field.label }} : {{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                <br><br>
            {% endif %}
            {% csrf_token %}
            <!--<h2>Personal Details</h2>-->
            <!--<div class="row">-->
                <!--<div class="row-1 col-2">-->
                    <!--<div class="wrap">-->
                        <!--<span>FIRST NAME</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.first_name }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>LAST NAME</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.last_name }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row-1 col-4">-->
                    <!--<div class="wrap">-->
                        <!--<span>MIDDLE NAME</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.middle_name }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>EMAIL</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.email }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="row-1 col-2">
                    <div class="wrap">
                        <span>Username</span><br>
                        <div class="wrap-o">
                            {{ form.username }}
                        </div>
                    </div>
                </div>
                <div class="row-1 col-4">
                    <div class="wrap">
                        <span>Email</span><br>
                        <div class="wrap-o">
                            <!--{{ form.email }}-->
                            <input type="email" name="email" id="id_email" required="" autofocus="autofocus" placeholder="E-mail address">
                        </div>
                    </div>
                </div>
            </div>

            <!--<br>-->
            <!--<h2>Profession Details</h2>-->
            <!--<div class="row">-->
                <!--<div class="row-1 col-2">-->
                    <!--<div class="wrap">-->
                        <!--<span>COMPANY NAME</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.company_name }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>Office email</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.correspondence_email }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row-1 col-4">-->
                    <!--<div class="wrap">-->
                        <!--<span>DESIGNATION</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.designation }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>Address</h2>-->
            <!--<div class="row">-->
                <!--<div class="row-1 col-2">-->
                    <!--<div class="wrap">-->
                        <!--<span>Address street</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.address_street }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>State</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.state }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>Pin-Code</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.pincode }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row-1 col-4">-->
                    <!--<div class="wrap">-->
                        <!--<span>City</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.city }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>Country</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.country }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrap">-->
                        <!--<span>Phone #</span><br>-->
                        <!--<div class="wrap-o">-->
                            <!--{{ form.phone }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>Password</h2>-->
            <div class="row">
                <div class="row-1 col-2">
                    <div class="wrap">
                        <span>Password</span><br>
                        <div class="wrap-o" id="strength_score">
                            {{ form.password1 }}
                        </div>
                        <div style="margin-top:1%;">

                            <div class="figure" id="strength_human"></div>
                            <div style="font-size:10px;color:#333333"> A good password should be ideally of 8 characters with alphabets and alpha numeric characters</div>
                        </div>
                    </div>
                </div>
                <div class="row-1 col-4">
                    <div class="wrap">
                        <span>Confirm Password</span><br>
                        <div class="wrap-o">
                            {{ form.password2 }}
                        </div>
                        <div style="margin-top:1%;">
                            <div id="password_check" style="color: red;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-1 col-2">
                    <div class="wrap" style="margin: 10px 30px;float: left;">
                        <a href="/terms" target="_blank" style="color:black">Terms & Conditions</a> <br> <br>
                        <label style="color:#000;">
                          <input id="remember" type="checkbox" name="remember"> Remember me
                        </label>
                    </div>
                </div>
            </div>

            <div class="row-submit">
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="col-2" style="margin:0 auto;">
                    <input type="submit" value="{% trans 'Create an account' %}&raquo;">
                </div>
            </div>
            <h1 style="color: black;">Or</h1><br>
            <a href="{% url 'facebook_login' %}" title="Sign in with Facebook">
                <img style="width: 200px; height: 40px" src="{% static 'img/facebook.png' %}">
            </a><br>
            <a href="{% url 'google_login' %}" title="Sign in with Google">
                <img style="width: 200px; height: 40px" src="{% static 'img/google.png' %}">
            </a>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

    <!--<script>-->
        <!--$("#remember").click(function() {-->
            <!--if($(this).is(":checked")){-->
                <!--var username = $('#id_username').val();-->
                <!--var password = $('#id_password1').val();-->
                <!--// set cookies to expire in 14 days-->
                <!--$.cookie('username', username, { expires: 14, path: '/accounts/login/' });-->
                <!--$.cookie('password', password, { expires: 14, path: '/accounts/login/' });-->
                <!--$.cookie('remember', true, { expires: 14, path: '/accounts/login/' });-->
            <!--}-->
            <!--else if($(this).is(":not(:checked)")){-->
                <!--// reset cookies-->
                <!--$.cookie('username', null, { expires: 14, path: '/accounts/login/' });-->
                <!--$.cookie('password', null, { expires: 14, path: '/accounts/login/' });-->
                <!--$.cookie('remember', null, { expires: 14, path: '/accounts/login/' });-->
            <!--}-->
        <!--});-->
    <!--</script>-->

    <script>
        $("#signup_form").submit(function() {
            // debugger;
            if(confirm("I/we confirm that I/we agree to the terms and conditions of AudienceSutra.")) {
                // $("#delete-button").attr("href", "query.php?ACTION=delete&ID='1'");
                // alert('done');

                if($("#remember").is(":checked")){
                    var username = $('#id_username').val();
                    var password = $('#id_password1').val();
                    // set cookies to expire in 14 days
                    $.cookie('username', username, { expires: 14, path: '/accounts/login/' });
                    $.cookie('password', password, { expires: 14, path: '/accounts/login/' });
                    $.cookie('remember', true, { expires: 14, path: '/accounts/login/' });
                }
                else if($("#remember").is(":not(:checked)")){
                    // reset cookies
                    $.cookie('username', null, { expires: 14, path: '/accounts/login/' });
                    $.cookie('password', null, { expires: 14, path: '/accounts/login/' });
                    $.cookie('remember', null, { expires: 14, path: '/accounts/login/' });
                }
            }
            else {
                return false;
            }
        });
    </script>

    <script>
        function scorePassword(pass) {
            var score = 0;
            if (!pass)
                return score;

            // award every unique letter until 5 repetitions
            var letters = new Object();
            for (var i=0; i<pass.length; i++) {
                letters[pass[i]] = (letters[pass[i]] || 0) + 1;
                score += 5.0 / letters[pass[i]];
            }

            // bonus points for mixing it up
            var variations = {
                digits: /\d/.test(pass),
                lower: /[a-z]/.test(pass),
                upper: /[A-Z]/.test(pass),
                nonWords: /\W/.test(pass),
            }

            variationCount = 0;
            for (var check in variations) {
                variationCount += (variations[check] == true) ? 1 : 0;
            }
            score += (variationCount - 1) * 10;

            return parseInt(score);
        }

        function checkPassStrength(pass) {
            var score = scorePassword(pass);
            if (score >= 50)
                return "strong";
            if (score >= 40)
                return "good";
            if (score >= 30)
                return "weak";

            return "";
        }

        $(document).ready(function() {
            $("#id_password1").on("keypress keyup keydown", function() {
                var pass = $(this).val();
                if(checkPassStrength(pass)=="strong") {
                    <!--$("#strength_score").attr("class","strong");-->
                    $("#strength_score").css("border-bottom-color","green");
                    $("#strength_human").css('color', 'green');
                }
                else if(checkPassStrength(pass)=="good") {
                    <!--$("#strength_score").attr("class","good");-->
                    $("#strength_score").css("border-bottom-color","yellow");
                    $("#strength_human").css('color', 'yellow');
                }
                else if(checkPassStrength(pass)=="weak") {
                    <!--$("#strength_score").attr("class","weak");-->
                    $("#strength_score").css("border-bottom-color","red");
                    $("#strength_human").css('color', 'red');
                }
                else {
                    $("#strength_score").css("border-bottom-color","#100b33");
                    <!--$("#strength_human").css('color', '#100b33');-->
                }
                $("#strength_human").text(checkPassStrength(pass));
                <!--$("#strength_score").text(scorePassword(pass));-->
            });

            $("#id_password2").on("keypress keyup keydown", function() {
                if($("#id_password1").val() != $("#id_password2").val()) {
                    $("#password_check").text("You must type the same password each time.");
                }
                else {
                    $("#password_check").text("");
                }
            });
        });
    </script>
{% endblock %}