<div class="content animated" style="width:100%;">
  <p class="para" style="font-size: 1.25em; color: black;">Hi PepsiCo.</p>
  <p class="para sub_text">We are here to help you with your business.</p>
  <div class="home-fields-wrap animated zoomIn">
    <div class="home-fields home-fields-1 center">
      <div class="create center">
        <div class="symbol create-new-survey">
          <!-- <img class="symbol-svg" src="img/newImages/add.png" alt="Add Image"> -->
          <i id="symbol-icon" class="material-icons">
            add
          </i>
        </div>
        <div class="text button-text button-text-create">
          Create New Survey
        </div>
      </div>
      <div class="create center">
        <div class="symbol draft-survey">
          <img class="symbol-svg" src="/static/angular/assets/img/newImages/draft.png" alt="Add Image">
        </div>
        <div class="text button-text button-text-draft draft-text">
          Drafts
        </div>
      </div>
      <div class="create center">
        <div class="symbol pending-approval">
          <img class="symbol-svg" src="/static/angular/assets/img/newImages/approve.png" alt="Add Image">
          <img class="not-svg" src="/static/angular/assets/img/newImages/not.png" alt="Add Image">	
        </div>
        <div class="text button-text button-text-pending-approval draft-text">
          Pending Approval
        </div>
      </div>
    </div>
    <div class="home-fields home-fields-2 center">
      <div class="create center">
        <div class="symbol pending-payment">
          <img class="symbol-svg" src="/static/angular/assets/img/newImages/payment.png" alt="Add Image">
          <img class="not-svg" src="/static/angular/assets/img/newImages/not.png" alt="Add Image">	
        </div>
        <div class="text button-text button-text-pending-payment draft-text">
          Pending Payment
        </div>
      </div>
      <div class="create center">
        <div class="symbol active-survey">
          <img class="symbol-svg" src="/static/angular/assets/img/newImages/active.png" alt="Add Image">
        </div>
        <div class="text button-text button-text-active-survey draft-text">
          Active Surveys
        </div>
      </div>
      <div class="create center">
        <div class="symbol inactive-survey">
          <img class="symbol-svg" src="/static/angular/assets/img/newImages/moon.png" alt="Add Image">
        </div>
        <div class="text button-text button-text-inactive-survey draft-text">
          Past Surveys
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-survey-list animated fadeIn">
  <p class="para" style="font-size: 1.25em; color: black;">Hi PepsiCo.</p>
  <p class="para sub_text">We are here to help you with your business.</p>
  <p class="para sub_text">Create surveys from the ready templates available or let us help you create custom surveys basis the question that you need answered.</p>
  <div class="survey-create-wrap center">
    <div class="two-survey center">
      <div class="survey competition">
        <div class="section-1 section-1-competition center">
          <div class="overlay-survey"></div>
          <div class="survey-text">
            Competition
          </div>
        </div>
        <div class="section-2 section-2-competition">
          <p class="para sub_text" style="color: black;">
            Map out the audience understanding of the category and their preferences of brands / products within the category.
          </p>
          <div class="survey-custom-template-button-wrap">
            <a href="#">
              <div title="Custom Surveys - Let us help you create your surveys to your requirements."  class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/pencils.png" alt="Image">
              </div>
            </a>
            <a href="#">
              <div title="Create Surveys - Make surveys with the guidance of the templates provided by us." class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/writing.png" alt="Image">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="survey brand">
        <div class="section-1 section-1-brand center">
          <div class="overlay-survey"></div>
          <div class="survey-text">
            Brand
          </div>
        </div>
        <div class="section-2 section-2-brand">
          <p class="para sub_text" style="color: black;">
            Understand the association of a brand and it's role in the consumer mindspace in comparison to competition in the market.
          </p>
          <div class="survey-custom-template-button-wrap">
            <a href="#">
              <div  title="Custom Surveys - Let us help you create your surveys to your requirements." class="survey-button custom-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/pencils.png" alt="Image">
              </div>
            </a>
            <a href="#">
              <div title="Create Surveys - Make surveys with the guidance of the templates provided by us." class="survey-button template-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/writing.png" alt="Image">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="two-survey center">
      <div class="survey product">
        <div class="section-1 section-1-product center">
          <div class="overlay-survey"></div>
          <div class="survey-text">
            Product
          </div>
        </div>
        <div class="section-2 section-2-product">
          <p class="para sub_text" style="color: black;">
            Determine the potential of a product in the market and learn about consumer's opinion, the product's influence on the life of the consumer.
          </p>
          <div class="survey-custom-template-button-wrap">
            <a href="#">
              <div title="Custom Surveys - Let us help you create your surveys to your requirements." class="survey-button custom-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/pencils.png" alt="Image">
              </div>
            </a>
            <a href="#">
              <div title="Create Surveys - Make surveys with the guidance of the templates provided by us." class="survey-button template-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/writing.png" alt="Image">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="survey communication">
        <div class="section-1 section-1-communication center">
          <div class="overlay-survey"></div>
          <div class="survey-text">
            Communication
          </div>
        </div>
        <div class="section-2 section-2-communication">
          <p class="para sub_text" style="color: black;">
            Gauge the engagement of our communication with our intended audience in addition to the comprehension and clarity of the message to them.
          </p>
          <div class="survey-custom-template-button-wrap">
            <a href="#">
              <div title="Custom Surveys - Let us help you create your surveys to your requirements." class="survey-button custom-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/pencils.png" alt="Image">
              </div>
            </a>
            <a href="#">
              <div title="Create Surveys - Make surveys with the guidance of the templates provided by us." class="survey-button template-survey-button center">
                <img class="survey-symbol-svg" src="/static/angular/assets/img/newImages/writing.png" alt="Image">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-floating-icons center">
    <i class="material-icons">
      arrow_back
    </i>
  </div>
</div>
<div class="draft-survey-list animated fadeIn">
  <p class="para"style="font-size: 1.25em; color: black;">Hi PepsiCo.</p>
  <p class="para sub_text">We are here to help you with your business.</p>
  <p class="para sub_text">The surveys that you have saved or you were working on last are saved here for you.</p>
  <div class="draft-surveys-list">
    <div class="survey draft">
      <div class="section-1 section-1-communication center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-communication">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-brand center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-brand">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-competition center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-competition">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-product center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-product">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-communication center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-communication">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-brand center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-brand">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-competition center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-competition">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey draft">
      <div class="section-1 section-1-product center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-product">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-floating-icons center">
    <i class="material-icons">
      arrow_back
    </i>
  </div>
</div>
<div class="pending-approval-survey-list animated fadeIn">
  <p class="para"style="font-size: 1.25em; color: black;">Hi PepsiCo.</p>
  <p class="para sub_text">We are here to help you with your business.</p>
  <p class="para sub_text">We need to take a final approval from you on the survey that has passed through our hands and sometimes with our expert recommendations.</p>
  <div class="pending-approval-surveys-list">
    <div class="survey pending-approval-draft">
      <div class="section-1 section-1-product center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-product">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey pending-approval-draft">
      <div class="section-1 section-1-competition center">
        <div class="overlay-survey"></div>
        <div class="survey-text">
          Survey Name
        </div>
      </div>
      <div class="section-2 section-2-competition">
        <p class="para sub_text" style="color: black;">
          Subtext to survey title.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text[...]
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Created: 27 July, 2018
        </p>
        <p class="para sub_text" style="color: black; font-size: 0.65em;">
          Modified: 27 July, 2018
        </p>
        <div class="survey-custom-template-button-wrap">
          <a href="#">
            <div title="Preview" class="survey-button custom-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/eye.svg" alt="Image">
            </div>
          </a>
          <a href="#">
            <div title="Edit Survey" class="survey-button template-survey-button center">
              <img class="survey-symbol-svg" style="height: 50%;" src="/static/angular/assets/img/newImages/pencil-edit-button.svg" alt="Image">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-floating-icons center">
    <i class="material-icons">
      arrow_back
    </i>
  </div>
</div>
<div class="empty-survey-list animated fadeIn">
  <p class="para" style="font-size: 1.25em; color: black;">Hi PepsiCo.</p>
  <p class="para sub_text">We are here to help you with your business.</p>
  <div class="empty-list">
    <img style="width: 300px;" src="/static/angular/assets/img/newImages/nothing.png" alt="">
  </div>
  <div class="home-floating-icons center">
    <i class="material-icons">
      arrow_back
    </i>
  </div>
</div>











































<!-- ************************************************************************************************************** -->

<!-- <div class="content">
  <div class="wrap">
    <label>Hi PepsiCo</label>
    <p>We are here to help you make better decisions with your business.</p>

    <div class="recommend">
      <label>Active Surveys</label>
      <div class="row">
        <div *ngFor="let survey of surveys" class="col-lg-3 col-xs-12">
          <div class="box">
            <div class="wrap-rec">
              <div class="upper"
                   style="background:url('https://wherediditallgorightblog.files.wordpress.com/2011/05/pepsico_headquarters.jpg'); background-size: cover;"></div>
              <div class="lower">
                <div class="row">
                  <div class="col-lg-8 col-xs-8">
                    <div class="box">
                      <a routerLink="/survey/{{survey.id}}"><h1>{{survey.name}}</h1></a>
                      <p>Pepsi Co.</p>
                    </div>
                  </div>
                  <div class="col-lg-4  col-xs-4">
                    <div class="box">
                      <h2>₹ 200</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12  col-xs-12 description">
                    <p>{{survey.description}}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- new templates from hear -->

<!-- <div class="row">
  <div class="col-md-12">
    <h3 style="font-family: Verdana, sans-serif;">Active Surveys</h3>
  </div>
</div>

<div class="row">
  <div class="card-container col-md-3 col-sm-4 col-xs-12" *ngFor="let survey of surveys; let i=index">
    <div class="card">
      <div class="image-container">
        <img id="imgSrc_{{i}}" class="avatar-picture" src="{{survey?.survey_img}}" alt="{{survey?.name}}" onerror="this.src='https://www.w3schools.com/w3css/img_london.jpg';">
        <div class="title" title="{{survey?.name}}">
          {{ (survey?.name.length > 12)? (survey?.name | slice:0:12)+'...':(survey?.name) }}
        </div>
      </div>
      <div class="card-body">
        <div class="amount">
          <label class="{{survey?.status}}">{{survey?.status}}</label>
        </div>
        <div class="card-content" title="{{survey?.description}}">
          {{ (survey?.description?.length > 30)? (survey?.description | slice:0:30)+'...':(survey?.description) }}
        </div>
        <div class="card-footer">
          <button mat-raised-button (click)="activeStatus(survey)">Inactive</button>
          <button routerLink="/survey/{{survey.id}}">Details</button>
        </div>
      </div>
    </div>
  </div>
</div> -->