<div class="content">
  <div class="wrap">
    <h1>Hi PepsiCo</h1>
    <p>We are here to help you make better decisions with your business.</p>

    <!-- Recommend -->
    <div class="recommend">
      <h1>Active Surveys</h1>
      <div class="row">
        <div *ngFor="let survey of surveys" class="col-lg-3 col-xs-12">
          <div class="box">
            <div class="wrap-rec">
              <div class="upper"
                   style="background:url('https://wherediditallgorightblog.files.wordpress.com/2011/05/pepsico_headquarters.jpg'); background-size: cover;"></div>
              <div class="lower">
                <div class="row">
                  <div class="col-lg-8 col-xs-8">
                    <div class="box">
                      <a routerLink="/survey/{{survey.id}}"><h1>{{survey.name}}</h1></a>
                      <p>Pepsi Co.</p>
                    </div>
                  </div>
                  <div class="col-lg-4  col-xs-4">
                    <div class="box">
                      <h2>₹ 200</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12  col-xs-12 description">
                    <p>{{survey.description}}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Recommend -->

  </div>
</div>
