<div class="container-fluid">
  <div class="row">
    <div class="content-feedback">
      <div class="input-grid slideanim">
        <div class="get-in-touch">
          <div class="row">

            <!-- show diloag -->
            <div class="set-account-modal">
              <div class="message-box">
                <h3>We are sending email please wait...</h3>
                <div class="lds-ripple">
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <!-- end diloag -->

            <h3>Feedback</h3>
            <p>(feedback@audiencesutra.com)</p>
          </div>
        </div>
        <div class="form feedback-form">
          <div class="row">
            <div>
              <!-- contactr:{{data.reason}},{{data.name}},{{data.email}},{{data.message}} -->
              <div class="form-group">
                <input [(ngModel)]="data.reason" [style.border]="reasonError" type="text" class="form-control"
                  placeholder="Reason for contacting">
              </div>
            </div>
            <div>
              <div class="form-group">
                <label class="form-control-label">Your Name</label>
                <input [(ngModel)]="data.name" type="text" [style.border]="nameError" class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div>
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input [(ngModel)]="data.email" type="text" [style.border]="emailError" class="form-control"
                  placeholder="Email">
              </div>
            </div>
            <div>
              <div class="form-group">
                <label class="form-control-label ">Your Message</label>
                <textarea [(ngModel)]="data.message" rows="5" [style.border]="messageError" name="comment" class="form-control"
                  placeholder="Your Message">
                    </textarea>
              </div>
            </div>
            <button type="submit" class="form-submit-btn btn-sent" (click)="saveFeedback()">send</button>
          </div>
        </div>
        <div id="snackbar">{{message}}</div>
      </div>
    </div>
  </div>
</div>