<!doctype>
{% load staticfiles %}
<html>
<head>
    <title>AudienceSutra Sign-In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'img/fav.png' %}"/>
</head>
<body>
<header>
    <div class="left">
        <main>
            <div class="cent">
                <div class="wrap-form">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <i class="fa fa-times-circle" style="font-size: 48px; color: red"></i>
                        <p style="font-size: 18px;">The password reset link was invalid, possibly because it has already been used or expired</p>
                        <p><a href="{{ passwd_reset_url }}">Request for Reset Again</a></p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                        <div>
                                            <strong style="color: red">{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div>
                                                <strong style="color: red">{{ field.label }} : {{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    <br><br>
                                {% endif %}
                                {% csrf_token %}
                                <div class="wrap">
                                    <span>New Password</span><br>
                                    <div class="wrap-o">
                                        <i class="fa fa-lock"></i>
                                        <input type="password" name="password1">
                                    </div>
                                </div><br><br>
                                <div class="wrap">
                                    <span>Confirm New Password</span><br>
                                    <div class="wrap-o">
                                        <i class="fa fa-lock"></i>
                                        <input type="password" name="password2">
                                    </div>
                                </div><br><br>
                                <input type="submit" value="CHANGE PASSWORD">
                            </form>
                        {% else %}
                            <p>Your password is now changed.</p>
                        {% endif %}
                    {% endif %}
{#                    <p><a href="{% url 'account_login' %}">Back To Login</a></p>#}
                </div>
            </div>
        </main>
    </div>
    <div class="right">
        <main>
            <div class="cent">
                <a href="/"><img src="{% static 'img/login2.png' %}" alt="Audience Sutra"></a>
            </div>
        </main>
    </div>
</header>
</body>
</html>