<!doctype>
{% load staticfiles %}
<html>
<head>
    <title>AudienceSutra Sign-In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'img/fav.png' %}"/>
</head>
<body>
<header>
    <div class="left">
        <main>
            <div class="cent">
                <div class="wrap-form">
                    <i class="fa fa-check" style="font-size: 48px; color: green"></i>
                    <p style="font-size: 18px">Your Password has been changed successfully</p><br>
                    <p><a href="{% url 'account_login' %}">Proceed to Login</a></p>
                </div>
            </div>
        </main>
    </div>
    <div class="right">
        <main>
            <div class="cent">
                <a href="/"><img src="{% static 'img/login2.png' %}" alt="Audience Sutra"></a>
            </div>
        </main>
    </div>
</header>
</body>
</html>