<div class="row">
  <div class="col-md-12">
    <h2 class="quick_status" style="font-family: Verdana, sans-serif;">Quick Stats</h2>
  </div>
</div>

<div class="row row-five-col">
  <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="text-wrap">
      <h4>COMPETITION</h4>
      <p>TEMPLATE</p>
      <button routerLink="/client/createSurvey/competition">ADD SURVEY</button>
    </div>
  </div>

  <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="text-wrap">
      <h4>BRAND</h4>
      <p>TEMPLATE</p>
      <button routerLink="/client/createSurvey/brand">ADD SURVEY</button>
    </div>
  </div>

  <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="text-wrap">
      <h4>COMMUNICATION</h4>
      <p>TEMPLATE</p>
      <button routerLink="/client/createSurvey/communication">ADD SURVEY</button>
    </div>
  </div>

  <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="text-wrap">
      <h4>PRODUCT</h4>
      <p>TEMPLATE</p>
      <button routerLink="/client/createSurvey/product">ADD SURVEY</button>
    </div>
  </div>

  <div class=" col-md-2 col-sm-6 col-xs-12 ">
    <div class="text-wrap">
      <h4>CUSTOM</h4>
      <p>TEMPLATE</p>
      <button routerLink="/client/createSurvey/custom">ADD SURVEY</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 style="font-family: Verdana, sans-serif;">List of Survey Created</h3>
  </div>
</div>

<div class="row">
  <div class="card-container col-md-3 col-sm-4 col-xs-12" *ngFor="let survey of surveys; let i=index">
    <div class="card">
      <div class="image-container">
        <form [formGroup]="homeForm" autocomplete="off">
          <div class="avatar-wrapper">
            <input id="surveyPhotoId_{{i}}" class="hide" type="file" (change)="onFileChange($event, survey)">
            <img class="avatar-picture" src="{{survey?.survey_img}}" (click)="openFileBrowser($event, i)" alt="{{survey?.name}}"
              onerror="this.src='https://www.w3schools.com/w3css/img_london.jpg';">
            <div class="middle">
              <div class="text">Change Image</div>
            </div>
          </div>
        </form>
        <div class="title" title="{{survey?.name}}">
          {{ (survey?.name.length > 12)? (survey?.name | slice:0:12)+'...':(survey?.name) }}
        </div>
      </div>
      <div class="card-body">
        <div class="amount">
          <label class="{{survey?.status}}">{{survey?.status}}</label>
          <!-- <label style="float:right;">$200.00</label> -->
        </div>
        <div class="card-content" title="{{survey?.description}}">
          <!-- {{survey?.description}} -->
          {{ (survey?.description.length > 30)? (survey?.description | slice:0:30)+'...':(survey?.description) }}
        </div>
        <div class="card-footer">
          <div *ngIf="survey?.status == 'Draft'">
            <button mat-raised-button (click)="activeStatus(survey)">Active</button>
            <button routerLink="/survey/{{survey?.id}}">Details</button>
            <button routerLink="/client/updateSurvey/update/{{survey?.id}}">Edit</button>
          </div>

          <div *ngIf="survey?.status == 'Active'">
            <button mat-raised-button (click)="activeStatus(survey)">Inactive</button>
            <button routerLink="/survey/{{survey?.id}}" style="width:60%;">Details</button>
          </div>

          <div *ngIf="survey?.status == 'Inactive'">
            <button mat-raised-button style="cursor: default;">Inactive</button>
            <button routerLink="/survey/{{survey?.id}}" style="width:60%;">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>