.survey {
  width: 70%;
  height: 80px;
  border-radius: 80px;
  background: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  margin: 1% auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.survey h1 {
  color: #c7c7c7;
  // width: 50%;
  font-size: 18px;
  margin: 0;
  margin-left: 2%;
}

.view-id {
  width: 125px;
  height: 60%;
  border-radius: 50px;
  border: 0px;
  background: #FF60B3;
  color: white;
  letter-spacing: 1.5px;
  font-size: 1.25em;
  font-weight: bold;
  box-shadow: 0px 0px 20px -5px #e03e92;
  cursor: pointer;
}

.survey-img {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}

.survey-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.row p {
  color: #b9b9b9;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 65%;
  margin: 0 auto;
}

// ==========================================================


.fa-search:before{content:"\f002"}
.fa-search-plus:before{content:"\f00e"}
.fa-search-minus:before{content:"\f010"}



.example {
  width: 65%;
  margin: 1% auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

.table, tr, th, td {
  max-width: 65%;
  border: 1px solid #d2cccc;
  border-collapse: collapse;
  font-family: sans-serif;
  padding: 8px 10px;
  margin: 0 auto;
  
  td {
    width: 50%;
  }
}


.card-container {
    margin-bottom: 50px;
    .card {
        max-width: 300px;
        /* border: 1px solid red; */
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    }
    .card,
    .card img,
    .image-container {
        border-radius: 5px 5px 0px 0px;
    }
  
    .card .title {
        bottom:0px;
        box-sizing:border-box;
        color:rgb(255, 255, 255);
        display:block;
        font-family:Verdana, sans-serif;
        font-size:35px;
        height:52px;
        left:0px;
        line-height:36px;
        padding-bottom:8px;
        padding-left:16px;
        padding-right:16px;
        padding-top:8px;
        position:absolute;
        text-size-adjust:100%;
    }
    .image-container{
        box-sizing:border-box;
        color:rgb(255, 255, 255);
        display:block;
        font-family:Verdana, sans-serif;
        font-size:15px;
        max-height:200px;
        height: 200px;
        line-height:22.5px;
        position:relative;
        text-size-adjust:100%;
    }
  
  /* mixin for multiline */
    @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
        overflow: hidden;
        position: relative;
        line-height: $lineHeight;
        max-height: $lineHeight * $lineCount; 
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
        width: 95%;
        margin: 10px auto;
        &:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: 0;
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: $bgColor;
        }
      }
    
      .card-content {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
        color: #282828;
      }
  
      .card-footer {
        background-color:#e03e92;
        button{
            width:30%;
            background-color: #e03e92; /* Green background */
            border: 1px solid #e03e92; /* Green border */
            color: white; /* White text */
            padding: 5px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            border-left: 1px inset #e03e92;
            height: 50px;
          }
        
        button:first-child {
            border-left: none !important;
        }
      }
  
    .amount {
        // text-align: right;
        font-size: 24px;
        // padding: 0px 15px;
        color: #e03e92;
        overflow: hidden;
    }

    .card-body {
      padding: 5%;
      font-family: Verdana, sans-serif;
    }

    .avatar-picture {
      width: 100%;
      max-height: 200px;
      vertical-align: top;
      cursor: pointer;
    }
    .hide {
      display: none !important;
    }

    .Active {
      float:left;
      color: green;
    }
    .Draft {
      float:left;
      color: #e03e92;
    }
    .Inactive {
      float:left;
      color: red;
    }

  }


  // ======================================

  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 30px; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
  font-family: Verdana, sans-serif;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 30px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 30px; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}
 .search_placeholder {
  font-size: 20px;
  margin-top: 10px;
  color: #2a0e3c;
  width: 90%;
  padding: 3px 5px;
}