*{
    padding:0;
    margin: 0;
    color:black;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'GoogleSans';
    overflow-x: hidden;
}

button  {
    cursor: pointer;
}

html, body {
    height: 100%;
    width: 100%;
}

*:focus {
    outline: none;
}

a, a:hover, a:focus, a:clicked {
    color: #fff;
}

.login {
    width: 100%;
    height: 100%;
}

.login-img {
    background: url('../img/bg.png');
    background-size: cover;
}

.login-img {

    position: relative;
}

.sideCut {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1000px solid white;
    border-left: 300px solid transparent;
    bottom: 0;
    background-attachment: fixed;
    z-index: 1;
    right: 0;
    height: 100%;
}

.login .box.flex {
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.login .box img {
    width: 200px;
    margin-right: 100px;
}

.login  .wrap {
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.login .wrap img {
    width: 50%;
    margin: 0 auto;
}

.login .wrap .part  {
    width: 90%;
}

.login .wrap .part {
    padding: 10px 0px;
    margin: 0 auto;
    border-bottom: 3px solid #2a0e3c;
}

.login .wrap .part i {
    color: #2a0e3c;
    font-size: 30px;
}

.login .wrap form {
    margin-top: 40px;
}